<div class="user-info">
    <div>
        <button style="float: left; margin-right: 1em;" class="button-menu" mat-mini-fab color="primary" mat-button>
            <span class="material-icons md-24 md-light"> history </span>
        </button>

        <h1 style="display: inline;">Історія розміщення моєї інформації</h1>
        <p>Увага! були внесені зміни до Договору публічної оферти</p>
    </div>

    <table mat-table [dataSource]="dataSource">
        <!-- publicationType Column -->
        <ng-container matColumnDef="publicationType">
            <th mat-header-cell *matHeaderCellDef> Тип публікації </th>
            <td mat-cell *matCellDef="let element"> {{element.publicationType}} </td>
        </ng-container>

        <!-- termType Column -->
        <ng-container matColumnDef="termType">
            <th mat-header-cell *matHeaderCellDef> Періодичність </th>
            <td mat-cell *matCellDef="let element"> {{element.termType}} </td>
        </ng-container>

        <!-- reportGroup Column -->
        <ng-container matColumnDef="reportGroup">
            <th mat-header-cell *matHeaderCellDef> Категорія суб'єкта</th>
            <td mat-cell *matCellDef="let element"> {{element.reportGroup}} </td>
        </ng-container>

        <!-- reportState Column -->
        <ng-container matColumnDef="reportState">
            <th mat-header-cell *matHeaderCellDef> Статус </th>
            <td mat-cell *matCellDef="let element"> {{element.reportState}} </td>
        </ng-container>

        <!-- reportFormat Column -->
        <ng-container matColumnDef="reportFormat">
            <th mat-header-cell *matHeaderCellDef> Тип файлу </th>
            <td mat-cell *matCellDef="let element"> {{element.reportFormat}} </td>
        </ng-container>

        <!-- reportFormat Column -->
        <ng-container matColumnDef="outputDate.date">
            <th mat-header-cell *matHeaderCellDef> Вихідна дата документу </th>
            <td mat-cell *matCellDef="let element"> {{element.outputDate.date}} </td>
        </ng-container>

        <!-- reportFormat Column -->
        <ng-container matColumnDef="outputNumber">
            <th mat-header-cell *matHeaderCellDef> Вихідний номер документу </th>
            <td mat-cell *matCellDef="let element"> {{element.outputNumber}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


</div>