<div class="user-info">
    <div>
        <button style="float: left; margin-right: 1em;" class="button-menu" mat-mini-fab color="primary" mat-button>
            <span class="material-icons md-24 md-light"> history </span>
        </button>

        <h1 style="display: inline;">Історія розміщення моєї інформації</h1>
        <p>Увага! були внесені зміни до Договору публічної оферти</p>
    </div>

    <table mat-table [dataSource]="dataSource">
        <!-- publicationType Column -->
        <ng-container matColumnDef="publicationType">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field appearance="fill">
                    <mat-label>Тип публікації</mat-label>
                    <mat-select multiple [(ngModel)]="filter.publicationType" (ngModelChange)="filter.publicationType"
                        (ngModelChange)="onRemove()">
                        <mat-option *ngFor="let topping of uniquePublicationType " [value]="topping">
                            {{topping}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.publicationType}} </td>
        </ng-container>

        <!-- termType Column -->
        <ng-container matColumnDef="termType">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field appearance="fill">
                    <mat-label>Періодичність</mat-label>
                    <mat-select multiple [(ngModel)]="filter.termType" (ngModelChange)="filter.termType"
                        (ngModelChange)="onRemove()">
                        <mat-option *ngFor="let topping of uniqueTermType " [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.termType}} </td>
        </ng-container>

        <!-- reportGroup Column -->
        <ng-container matColumnDef="reportGroup">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field appearance="fill">
                    <mat-label>Категорія суб'єкта</mat-label>
                    <mat-select multiple [(ngModel)]="filter.reportGroup" (ngModelChange)="filter.reportGroup"
                        (ngModelChange)="onRemove()">

                        <mat-option *ngFor="let topping of uniqueReportGroup " [value]="topping">{{topping}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.reportGroup}} </td>
        </ng-container>

        <!-- reportState Column -->
        <ng-container matColumnDef="reportState">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field appearance="fill">
                    <mat-label>Статус</mat-label>
                    <mat-select multiple [(ngModel)]="filter.reportState" (ngModelChange)="filter.reportState"
                        (ngModelChange)="onRemove()">
                        <mat-option *ngFor="let topping of uniqueReportState " [value]="topping">{{topping}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.reportState}} </td>
        </ng-container>

        <!-- reportFormat Column -->
        <ng-container matColumnDef="reportFormat">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field appearance="fill">
                    <mat-label>Тип файлу</mat-label>
                    <mat-select multiple [(ngModel)]="filter.reportFormat" (ngModelChange)="filter.reportFormat"
                        (ngModelChange)="onRemove()">
                        <mat-option *ngFor="let topping of uniqueReportFormat " [value]="topping">{{topping}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.reportFormat}} </td>
        </ng-container>

        <!-- reportFormat Column -->
        <ng-container matColumnDef="outputDate.date">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field appearance="fill">
                    <mat-label>Вихідна дата документу</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start">
                        <input matEndDate placeholder="End">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>

                </mat-form-field>

            </th>
            <td mat-cell *matCellDef="let element"> {{element.outputDate.date}} </td>
        </ng-container>

        <!-- reportFormat Column -->
        <ng-container matColumnDef="outputNumber">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field appearance="fill">
                    <mat-label>Вихідний номер документу</mat-label>
                    <input matInput [(ngModel)]="filter.outputNumber" (ngModelChange)="filter.outputNumber"
                    (change)="onRemove()">
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.outputNumber}} </td>
        </ng-container>
        <!-- reportFormat Column -->
        <ng-container matColumnDef="idSubject">
            <th mat-header-cell *matHeaderCellDef> <button mat-flat-button color="warn">Скинути</button></th>
            <td class="center" mat-cell *matCellDef="let element" (click)="onDeleteDataId(element.idSubject)"> <span
                    class="btn material-icons md-red hint">
                    delete
                </span></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


</div>