<div class="example-container">
	<mat-toolbar class="example-toolbar">
		<div class="logo">
			<img src="assets/img/logo.png" width="40" height="40">
		</div>

		<span class="example-fill-remaining-space"></span>
		<span class="left-p-6">User Name</span>
		<mat-icon>logout</mat-icon>
	</mat-toolbar>

	<mat-sidenav-container class="example-sidenav-container" autosize>
		<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">

			<mat-nav-list class="dashboard">

				<button class="button-menu" mat-mini-fab color="primary" mat-button (click)="isExpanded = !isExpanded">
					<mat-icon *ngIf="!isExpanded">menu</mat-icon>
					<mat-icon *ngIf="isExpanded">menu_open</mat-icon>
				</button>


				<a mat-list-item (click)="toggleActive($event)">
					<mat-icon mat-list-icon>assignment</mat-icon>
					<p matLine *ngIf="isExpanded">assignment</p>
				</a>

				<a mat-list-item (click)="toggleActive($event)">
					<mat-icon mat-list-icon>assignment_ind</mat-icon>
					<p matLine *ngIf="isExpanded">assignment_ind</p>
				</a>
				<a mat-list-item (click)="toggleActive($event)">
					<mat-icon mat-list-icon>business</mat-icon>
					<p matLine *ngIf="isExpanded">business</p>
				</a>
				<a mat-list-item (click)="toggleActive($event)">
					<mat-icon mat-list-icon>school</mat-icon>
					<p matLine *ngIf="isExpanded">school</p>
				</a>



				<a mat-list-item (click)="toggleActive($event)">
					<mat-icon mat-list-icon>format_list_bulleted</mat-icon>
					<p matLine *ngIf="isExpanded">format_list_bulleted</p>
				</a>

				<mat-divider></mat-divider>
			</mat-nav-list>
		</mat-sidenav>

		<div class="example-sidenav-content">
			<app-home></app-home>
		</div>

	</mat-sidenav-container>
</div>

<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->