<form [formGroup]="formModel" novalidate>

    <div class="file-field input-field">
        <div class="btn purple darken-3">
            <span>Додати зображення</span>

            <input type="file" formControlName="file" (change)="handleFileInput($event.target.files)" required>

        </div>
    </div>

    <div class="form-group pt-4 text-center">
        <button type="submit" (click)="formModelReset()" class="btn btn-secondary m-1">Clear</button>
        <button type="submit" (click)="createOrUpdatePolicy()" class="btn btn-danger m-1">Add</button>
    </div>

</form>